.breadcrumbs {
    padding: 20px 0;
}

.breadcrumbs__list {
    display: flex;
    gap: 10px;

    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #808080;
}

.breadcrumbs__list li span {
    color: #101010;
}