.contact {
    padding: 50px 0;
}

.contact__wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 20px;
}

.map {
    min-height: 480px;
    background-image: url('/src/img/map.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.contact__block--black {
    padding: 20px 40px;
    background-color: #101010;
    border-radius: 2px;
    max-width: 288px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

.contact__time {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #808080;
}

.contact__city {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.3;
    color: #fff;
}

.contact__block h3 {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.3;
    color: #101010;
}

@media (max-width: 926px) {
    .contact__wrapper {
        grid-template-columns: 1fr;
    }

    .map {
        grid-row: 2/3;
        min-height: 400px;
    }

    .contact__block {
        margin-bottom: 0 !important;
    }

    .contact__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 425px) {
    .contact__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .contact__block--black {
        max-width: 100%;
        width: 100%;
    }
}

.contact-list {
    padding: 50px 0;
}

.contact-list li {
    margin-bottom: 20px;
    color: #808080;
}

.contact-list li strong {
    color: #101010;
}