.footer {}

.footer a:hover {
    text-decoration: underline;
}

.footer-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__wrapper {
    color: #ffffff;
    max-width: 950px;
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 40px;
}

.footer__wrapper li {
    margin-bottom: 10px;
}

.footer__wrapper p {
    margin-bottom: 10px;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-link svg {
    fill: #101010;
    transition: all 0.3s ease;
}

.social-link__telegram {
    margin-left: -5px;
}

.social-link:hover {
    background-color: #101010;
    border-color: #ffffff;
}

.social-link:hover svg {
    fill: #ffffff;
}

.social-link--header {
    background-color: #101010;
    border-color: #ffffff;
}

.social-link--header svg {
    fill: #ffffff;
}

.social-link--header:hover {
    background-color: #ffffff;
    border-color: #101010;
}

.social-link--header:hover svg {
    fill: #101010;
}

@media (max-width: 850px) {
    .footer__wrapper {
        grid-template-columns: 40% 1fr 1fr;
        gap: 20px;
        padding-bottom: 40px;
    }

    .social-list {
        margin-bottom: 30px;
    }
}

@media (max-width: 450px) {
    .footer__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .social-list {
        margin-bottom: 0;
    }
}