.title {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: clamp(2.5rem, 1.429rem + 2.232vw, 3.438rem);
    line-height: 1.27;
    text-transform: uppercase;
    color: #101010;
    margin-bottom: 40px;
}

.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .title {
        font-size: 30px;
    }
}